body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
}

header {
    display: flex;
    width: 100%;
    margin: 0em;
    padding: 0em;
    justify-content: flex-end;
}

main {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
}

.main-content {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 500px;
    height: 25px;
}

button {
    margin: 0rem 1rem;
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 0.25rem;
    color: #6F6F80;
    background-color: rgb(230, 230, 230);
}

.btn-signin {
    background-color: #4386FA;
    color: honeydew;
    width: 5rem;
    margin: 0 0 0 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0em;
    margin: 0em;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.list { 
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
}

.list li {
    padding: 0 0.5rem 0 0.5rem;
}

.list li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: #6F6F80;
}

.list img {
    width: 1rem;
    height: auto;
}